<style>
    .EP-article-main {
        margin-top: 50px;
        min-height: 2000px;
    }

    .EP-article-main .EP--flex {
        display: flex;
    }

    .EP-article-main .EP--justify--center {
        justify-content: center;
    } 

    .EP-article-main .EP--flex--1 {
        flex: 1;
    }

    .EP-article-main .EP--mb--24 {
        margin-bottom: 24px;
    }

    .EP-article-main .EP--mb--22 {
        margin-bottom: 22px;
    }

    .EP-article__hero {
        background-image: url(https://res.cloudinary.com/duecvwrkz/image/upload/v1687508847/Eureka%20Pet/eureka-image37_ey0udc.png);
        background-size: cover;
        max-width: 1820px;
        width: 90%;
        margin: 0 auto;
        background-color: #FDF5E9;
        border-radius: 20px;
        min-height: 740px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 152px;
    }

    .EP-article__hero h1 {
        font-size: 60px !important;
        line-height: 65px !important;
    }

    .EP-article__hero .EP-article__hero__col1 {
        max-width: 50%;
        font-family: var(--OSTR);
    }

    .EP-article__hero .EP-article__hero__col1 .EP--flex {
        gap: 32px;
        margin-top: 48px;
    }

    .EP-article__hero .EP-article__hero__col1 label {
        font-family: inherit;
        font-weight: 500;
        color: #000;
    }

    .EP-article-main .EP-article__inner {
        max-width: 1514px;
        width: 90%;
        margin: 0 auto;
        margin-top: 82px;
    }

    .EP-article-main .EP-article__section__two {
        display: flex;
        gap: 55px;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__left {
        flex: 2;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__left p,
    .EP-article-main .EP-article__section__two .EP-article__section__two__right p {
        color: #000;
        font-size: 18px;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__left h2 p {
        font-size: 28px;
        line-height: 35px;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__right {
        flex: 1;
        background-color: #403D36;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__right h3, 
    .EP-article-main .EP-article__section__two .EP-article__section__two__right h5 {
        color: #F6AF00;
        font-family: var(--WIND) !important;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__right img {
        max-height: 550px;
        width: auto;
    }

    .EP-article-main .EP-article__section__two__right__inner {
        padding: 25px 25px 25px 75px;
    }

    .EP-article-main .EP-article__section__two__right__inner__row1 {
        position: relative;
        z-index: 2;
    }

    .EP-article-main .EP-article__section__two__right__inner__row1 h3 {
        font-size: 74px !important;
    }

    .EP-article-main .EP-article__section__two__right__inner__row2 {
        margin-top: -16%;
    }

    .EP-article-main .EP-article__section__two__right__inner__row3 {
        margin-top: 24px;
        max-width: 91%;
    }

    .EP-article-main .EP-article__section__two__right__inner__row3 p {
        color: #fff !important; 
        text-align: center;
    }

    .EP-article-main .EP__article__dog__notice {
        background-color: #FAAE50;
        border-radius: 20px; 
        padding: 12px 50px;
        position: relative;
    }

    .EP-article-main .EP__article__dog__notice h5 {
        color: #000 !important;
        font-size: 20px !important;
        line-height: 24px !important;
        text-align: center;
        max-width: 95%;
    }

    .EP-article-main .EP__article__dog__notice h5::after {
        content: url('');
        background: url('https://res.cloudinary.com/duecvwrkz/image/upload/v1687516771/Eureka%20Pet/Article_Pet_Notice_hfa4cq.svg') no-repeat;
        position: absolute;
        top: 0;
        right: -92%;
        width: 100%;
        height: 120%;
        background-size: contain;
    }

    .EP_Quete{
        padding-left:30px;
        position:relative;
    }  

    .EP_Quete::before{
        background-image: url('https://res.cloudinary.com/duecvwrkz/image/upload/v1687510662/Eureka%20Pet/unnamed_ajkdgt.png');
        content: "";
        height: 30px;
        position: absolute;
        width: 30px;
        background-repeat: no-repeat;
        left: -8px;
        width:30px;
    }
</style>

<Article class="EP-article-main">
    <div class="EP-article__hero">
        <div class="EP--flex">
            <div class="EP--flex--1 EP-article__hero__col1">
                <h1>How to measure the right feeding amount?</h1>
                <div class="EP--flex">
                    <label>Feeding Advice</label>
                    <label>21 Jun 2022</label>
                </div>
            </div>
        </div>
    </div>
    <div class="EP-article__inner">
        <div class="EP-article__section__two">
            <div class="EP-article__section__two__left">
                <h2 class="EP--mb--24"> {{ article.metafields["custom_fields"]["ep_article_first_heading"] }} </h2>
                <p class="EP--mb--22">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus temporibus ducimus, dolores aspernatur exercitationem expedita, cupiditate error maxime, aperiam consequuntur dolorem aut quasi ipsam sequi officia? Exercitationem necessitatibus dolor, dolores ea excepturi, voluptatem sequi a quo quibusdam repellat mollitia esse.</p>
                <div class="EP__article__dog__notice EP--mb--22">
                    <h5>As mentioned above, keep an eye on your pets weight and adjust if necessary.</h5>
                </div>
                <p class="EP--mb--22">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus temporibus ducimus, dolores aspernatur exercitationem expedita, cupiditate error maxime, aperiam consequuntur dolorem aut quasi ipsam sequi officia? Exercitationem necessitatibus dolor, dolores ea excepturi, voluptatem sequi a quo quibusdam repellat mollitia esse.</p>
                <p class="EP--mb--22">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus temporibus ducimus, dolores aspernatur exercitationem expedita, cupiditate error maxime, aperiam consequuntur dolorem aut quasi ipsam sequi officia? Exercitationem necessitatibus dolor, dolores ea excepturi, voluptatem sequi a quo quibusdam repellat mollitia esse.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque consequuntur eius praesentium veritatis assumenda voluptatum expedita tempora, distinctio porro similique odio aliquid ad reiciendis consectetur, vero corporis, officia perspiciatis illo asperiores. Incidunt illo provident distinctio ad in. Totam, facilis est!</p>
            </div>
            <div class="EP-article__section__two__right">
               <div class="EP-article__section__two__right__inner">
                <div class="EP-article__section__two__right__inner__row1">
                    <h5>the</h5>
                    <h3>Eureka Scoop</h3>
                </div>
                <div class="EP--flex EP--justify--center EP-article__section__two__right__inner__row2">
                    <img src="https://res.cloudinary.com/duecvwrkz/image/upload/v1687511249/Eureka%20Pet/Image_42_2x_vh43m9.png" alt="">
                </div>
                <div class="EP-article__section__two__right__inner__row3">
                    <p>Our Eureka scoop (which is included in your first order) is a standard measuring cup size and holds approximately 100g of product, so 25gm = 1/4 cup.</p>
                    <p>For small dogs (less than 5kg), we recommend you weigh the Eureka food on an accurate scale to minimise risk of under or over-feeding.</p>
                </div>
               </div>
            </div>
        </div>
    </div>
</Article>